{% extends 'base.html' %}
{% block content %}
<h1>Complete contract</h1>
<hr />
<div class="container">
  <div class="col-md-4">
    <strong>Price:</strong> {{ price }}
    <form method='POST'>
      <input type="text" name='creditcardNr' class="form-control" placeholder="Credit card nr">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
    <hr />
    <a href='{{ url_for('decline_contract', id=id) }}' class='btn btn-danger btn-lg btn-block'>Decline package</a>
  </div>
</div>
{% endblock %}

