{% extends 'base.html' %}
{% block content %}
<h1>Dashboard <small>Signed in as {{ session.get('user') }}</h1> 
<hr />
<h2>Pending Contracts</h2>
<ul>
  {% for p in pending %}
  <li><a href='{{ url_for("complete_contract", id=p.id) }}'>{{ p.id }}</a></li>
  {% endfor %}
</ul>
<h2>Shipment Status</h2>
<ul>
  {% for c in contracts %}
  {% if c.paid_at or c.seller == session.get('user') %}
  <li><a href='{{ url_for("shipment", id=c.id) }}'>{{ c.id }}</a></li>
  {% endif %}
  {% endfor %}
</ul>
{% endblock %}
